body {
  font-family: Arial, Helvetica, sans-serif;
}

.Characters {
  background-color: #ecf0f1;
  height: 40vh;
  width: 80vw;
  margin: auto;
  position: relative;
}

.Characters-title {
  font-size: 1.7rem;
  font-weight: 300;
  margin-left: 1rem;
  padding-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.Characters-heading {
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 1rem;
}

.Characters-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: column;
}

.Characters-grid-item {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.Characters-button-close {
  background-color: #ecf0f1;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

@media (max-width: 1140px) {
  .Characters {
    width: 85vw;
    height: auto;
  }

  .Characters-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
  }
}
