body {
  background-color: #34495e;
}

.Films-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15vh;
  width: 80vw;
}

.Films-grid-item {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3598db;
  color: #fff;
  border-radius: 1rem;
  width: 15rem;
  height: 10rem;
  border: none;
  cursor: pointer;
  position: relative;
}

.Films-grid-item-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.Films-grid-item-release-date {
  font-size: 1rem;
  font-weight: 300;
  position: absolute;
  bottom: 5%;
  left: 30%;
}

@media (max-width: 1140px) {
  body {
    background-color: #3598db;
  }
  .Films-grid-container {
    margin-top: 5vh;
    grid-template-columns: 1fr;
  }
  .Films-grid-item {
    background-color: #34495e;
    width: 85vw;
    border-radius: 0;
  }
  .Films-grid-item-title {
    font-size: 2rem;
  }
  .Films-grid-item-release-date {
    text-align: right;
    padding-right: 1rem;
    right: 0;
  }
}
